.send-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #afafaf;

  .send-controls {
    display: flex;

    .btn {
      display: none;
    }

    *:not(:last-child) {
      margin-right: 0.8rem;
    }
    img:not(:last-child) {
      margin-right: 0.8rem;
    }
  }
}
