.card-send {
  .card-img {
    margin-bottom: 1rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .card-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-greeting {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      height: 100%;

      .ck {
        margin-bottom: 1rem;

        h2 {
          font-family: Rozha One;
          font-weight: bold;
        }
      }
      .title {
        font-size: large;
      }
    }

    // .card-greeting {
    //   width: 90%;
    //   textarea {
    //     width: 100%;
    //     border: none;
    //     resize: vertical;
    //     font-size: 1.9rem;
    //     font-family: Rozha One;
    //     background-color: transparent;

    //     font-weight: bold;
    //     &::placeholder {
    //       color: black;
    //       overflow: visible;
    //       text-align: center;
    //     }
    //   }
    // }
    // .card-text {
    //   textarea {
    //     border: none;
    //     resize: vertical;
    //     font-size: 1.3rem;
    //     background-color: transparent;
    //     &::placeholder {
    //       color: black;
    //       overflow: visible;
    //       text-align: center;
    //     }
    //   }
    // }
  }
}

.header-links {
  display: none;
  margin: 0rem 1rem;

  p:not(:last-child) {
    &::after {
      content: '/';
      margin: 0rem 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .card-send {
    display: flex;

    .card-message {
      flex: 1;
    }
  }

  .card-img {
    img {
      width: 400px !important;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .card-img {
    img {
      width: 100% !important;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .ck {
    h2 {
      font-size: 3rem;
    }
  }
  .card-img {
    img {
      width: 900px !important;
    }
  }
}
