.card-img {
  img {
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;

  .icons {
    img {
      margin: 1rem 0.5rem 1rem 0rem;
    }
  }

  .desc {
    margin-bottom: 1.3rem;
  }

  button {
    align-self: center;
  }
}
