.card-receive {
  .message {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .card-receive {
    display: flex;

    .card-img {
      flex: 1;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .message {
      margin-top: 2rem;
      width: 40vw;
    }
  }
}
