h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

.font-2 {
  font-family: Rozha One;
}

.txt-red {
  color: #f76137;
}

.txt-blue {
  color: #2b64be;
}

.popular,
.subscribe,
.story {
  h1 {
    font-size: 2rem;
    font-weight: 500;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

strong {
  font-size: 0.85rem;
}

p {
  font-weight: 500;
  font-size: 0.85rem;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3.3rem;
  }

  p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1366px) {
  h1 {
    font-size: 4.3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 1.9rem;
  }

  p {
    font-size: 1rem;
  }
}
